* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #FFFEF5;
}


header {
  height: auto;
  width: 100vw;
  text-transform: uppercase;
  align-items: center;
  background-color: #38B05A;
  padding: 0px 2rem;
  justify-content: space-between;
  display: flex;
  box-shadow: 0px 5px 5px 0px rgba(6, 0, 0, 0.17);
}


nav a{
  color: White;
  padding: 1.3rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #332200;
  border-radius: 1.1rem;
  margin: 12px;
  border-right: 8px solid #DB4325;
}

nav a:hover{
color: #A2311A;
background-color: white;
font-size: 1.8rem;
box-shadow: 2px 2px 7px 2px rgba(6, 0, 0, 0.37);
}

.header-button{
transition: all 300ms ease-out 200ms;
}

.logo{
width: 325px;
height: auto;
}

.intro-1{
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  background-color: #FFCA58;
  color: #1F1F1F;
  padding: 1.5rem;
  max-width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.1rem;
  border: 8px solid #DB4325;
  transition: all 300ms ease-out 200ms;
}

.intro-1:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 20, 0.3);
}


.greetings-1{
padding-bottom: 1.2rem;
border-bottom: 5px solid #1F1F1F;
}

.greetings-2{
Font-size: 3.5rem;
animation: text-focus-in 900ms ease 200ms;
}

.home-content{
text-align: center;
max-width: 950px;
display: block;
margin-left: auto;
margin-right: auto;
}

.hero{
width: 100%;
height: auto;
border-radius: 1.2rem 1.2rem 0 0;
}

.tagline{
margin-top: -9px;
padding: 1.5rem;
background-color: #332200;
color: white;
border-radius: 0 0 1.2rem 1.2rem;
font-size: 1.5rem;
}


/* End of Index.html content */


footer{
  width: 100vw;
  text-align: center;
  background-color: #7121B8;
  color: white;
  padding: 1.5rem;
  margin-top: 2.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  box-shadow: 5px 5px 05px 10px rgba(6, 0, 0, 0.19);
}

footer a{
  text-decoration: underline;
  color: #FFF838;
}

footer a:hover{
  color: #94D2FF;
}

.footer-link{
  transition: 300ms;
}

@keyframes text-focus-in {
  0% {
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  header{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 3.5rem;
  }

  .logo{
    width: 380px;
    padding-bottom: 1.2rem;
  }

  nav a{
  color: White;
  padding: 1.3rem;
  text-decoration: none;
  font-size: 0.7rem;
  border-right: 5px solid #DB4325;
}

  nav a:hover{
font-size: 0.9rem;
}

.intro-1{
margin-left: 1.5rem;
margin-right: 1.5rem;
}

  .greetings-1{
  font-size: 1.2rem;
  }

  .greetings-2{
  font-size: 2.3rem;
  }

  .home-content{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  }


  .tagline{
    font-size: 1.1rem;
  }
}

