.kavoon-regular {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}


.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  background-color: #FFFEF5;
}


header {
  height: auto;
  width: 100vw;
  text-transform: uppercase;
  align-items: center;
  background-color: #38B05A;
  padding: 0px 2rem;
  justify-content: space-between;
  display: flex;
  box-shadow: 0px 5px 5px 0px rgba(6, 0, 0, 0.17);
}


nav a{
  color: White;
  padding: 1.3rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #332200;
  border-radius: 1.1rem;
  margin: 12px;
  border-right: 8px solid #DB4325;
}

nav a:hover{
color: #A2311A;
background-color: white;
font-size: 1.8rem;
box-shadow: 2px 2px 7px 2px rgba(6, 0, 0, 0.37);
}

.header-button{
transition: all 300ms ease-out 200ms;
}

.logo{
width: 325px;
height: auto;
}

.intro-1{
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  background-color: #FFCA58;
  color: #1F1F1F;
  padding: 1.5rem;
  max-width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.1rem;
  border: 8px solid #DB4325;
  transition: all 300ms ease-out 200ms;
}

.intro-1:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 20, 0.3);
}


.greetings-1{
padding-bottom: 1.2rem;
border-bottom: 5px solid #1F1F1F;
}

.greetings-2{
Font-size: 3.5rem;
animation: fade-up 900ms ease 200ms;
font-family: "Kavoon", serif;
}

.home-content{
text-align: center;
max-width: 950px;
display: block;
margin-left: auto;
margin-right: auto;
}


.hero{
width: 100%;
height: auto;
border-radius: 1.2rem 1.2rem 0 0;
border-top: 8px solid #38B05A;
border-left: 8px solid #38B05A;
border-right: 8px solid #7121B8;
}

.tagline{
margin-top: -9px;
padding: 1.5rem;
background-color:#FFFEF5;
color: #1F1F1F;
border-radius: 0 0 1.2rem 1.2rem;
font-size: 1.5rem;
border-bottom: 8px solid #7121B8;
border-left: 8px solid #38B05A;
border-right: 8px solid #7121B8;
font-weight: 450;
}


/* End of Index.html content */

.about-content{
text-align: center;
max-width: 950px;
display: block;
margin-left: auto;
margin-right: auto;
border-bottom: 8px solid #7121B8;
border-left: 8px solid #38B05A;
border-top: 8px solid #38B05A;
border-right: 8px solid #7121B8;
}

.timeline{
height: auto;
width: 100%;
}

.about-text, .about-text-2{
text-align:left;
padding: 1.2rem;
}

.show-biz{
height: auto;
width: 100%;
}

.about-grid{
display: grid;
grid-template-columns: 2fr 1fr;
}

/*End of About.html content*/

.plan, .history{
text-align: center;
 margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
  background-color: #FFCA58;
  color: #1F1F1F;
  padding: 1.5rem;
  max-width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.1rem;
  border: 8px solid #DB4325;
  transition: all 300ms ease-out 200ms;
  font-family: "Kavoon", serif;
  letter-spacing: 2px;
  animation: fade-up 900ms ease 200ms;
}

.pointer {
  height: 90px; 
  width: 100px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5rem;
  animation: bounce .7s ease infinite alternate;
  animation-delay: .9s;
}

.events {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(180px, auto);
  gap: 1.3rem;
  text-align: center;
  padding: 2rem;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}


.hint {
  width: auto;
  height: 150px;
  padding: 0.8rem;
}

.info {
  font-weight: 600;
  letter-spacing: 0.3px;
  position: relative;
}

.welcome{
  background-color: #FCCCCC;
  border-radius: 10px;
  padding: 1.2rem;
  transition: all 250ms ease-out 250ms;
}

.welcome:hover{
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); 
}

.arcade{
 background-color: #FCE9CC;
 border-radius: 10px;
 padding: 1.2rem;
transition: all 250ms ease-out 250ms;
}

.arcade:hover{
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.gift{
background-color: #FFFAC2;
border-radius: 10px; 
padding: 1.2rem;
transition: all 250ms ease-out 250ms;
}

.gift:hover{
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.lunch{
background-color: #C2FFC7;
border-radius: 10px; 
padding: 1.2rem;
transition: all 250ms ease-out 250ms;
}

.lunch:hover{
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.show{
background-color: #C2E6FF;
border-radius: 10px; 
padding: 1.2rem;
transition: all 250ms ease-out 250ms;
}

.show:hover{
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.exit{
background-color: #E1C2FF;
border-radius: 10px;
padding: 1.2rem;
transition: all 250ms ease-out 250ms;
}

.exit:hover{
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.dates{
margin-top: 1.2rem;
margin-left: auto;
margin-right: auto;
text-align: center;
max-width: 475px;
border-top: black 6px solid;
border-bottom: black 6px solid;
padding-top: 1.2rem;
padding-bottom: 1.2rem;
}

.date-description{
display: inline-block;
font-size: 1.2rem;
padding-left: 1.5rem;
font-weight: 600;
}

.clock{
height: 50px;
width: auto;
}

ul{
padding: 1.2rem;
}



/* End of Schedule.html content */


footer{
  width: 100vw;
  text-align: center;
  background-color: #7121B8;
  color: white;
  padding: 1.5rem;
  margin-top: 2.5rem;
  font-weight: 700;
  font-size: 0.9rem;
  box-shadow: 5px 5px 05px 10px rgba(6, 0, 0, 0.19);
}

footer a{
  text-decoration: underline;
  color: #FFF838;
}

footer a:hover{
  color: #94D2FF;
}

.footer-link{
  transition: 300ms;
}


@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(1rem) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes bounce {
	100% {
		transform: translateY(-20px);
	}
}

@media only screen and (max-width: 480px) {
  header{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 3.5rem;
  }

  .logo{
    width: 380px;
    padding-bottom: 1.2rem;
  }

  nav a{
  color: White;
  padding: 1.3rem;
  text-decoration: none;
  font-size: 0.7rem;
  border-right: 5px solid #DB4325;
}

  nav a:hover{
font-size: 0.9rem;
}

.intro-1{
margin-left: 1.5rem;
margin-right: 1.5rem;
}

  .greetings-1{
  font-size: 1.2rem;
  }

  .greetings-2{
  font-size: 2.3rem;
  }

  .home-content, .about-content{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  }

  .tagline{
  font-size: 1.1rem;
  }

  .plan, .history{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


  .hint {
  width: auto;
  height: 100px;
  padding: 0.8rem;
}

.dates{
	margin-left:1.5rem;
	margin-right: 1.5rem;
}

.about-grid{
display: grid;
grid-template-columns: 1fr;
}
}

